@{
    ViewBag.Title = "Xác nhận mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
         @Html.ActionLink("click here to log in", "login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

