
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">              
                <div class="form-group">
                    <a href="/admin/category" class="btn btn-danger">Doanh mục</a>
                    <a href="/admin/role" class="btn btn-danger">Quyền</a>
                    <a href="/admin/order" class="btn btn-danger">Đơn hàng</a>
                    <a href="/admin/productcategory" class="btn btn-danger">Doanh mục sản phẩm</a>
                    <a href="/admin/products" class="btn btn-danger">Sản phẩm </a>
                    <a href="/admin/account" class="btn btn-danger">Tài khoản</a>
                </div>               
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        
            <div class="card-header">
            <h3 class="card-title">Tiệm bánh yêu thương</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
               

        <div class="card-body">
            Bánh trung thu đa dạng
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Không ngon trả hàng !!
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->